/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    position: relative;
    padding: 0;
    background-color: #ff9f1c;
    padding-right: 1rem;
  }

  a {
    color: white;
  }

    a:hover {
      font-weight: bold;
      cursor: pointer;
    }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

  a.logo {
    padding: 1rem;
    font-size: 175%;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

    ul a {
      padding: 1rem;
      display: inline-block;
    }

  .menu-container-mobile {
    position: relative;
  }

  .menu-mobile {
    background: #ff9f1c;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .menu-container-mobile:hover > .menu-mobile {
    display: flex;
    flex-direction: column;
  }

  .menu a {
    width: 100%;
    min-width: 8rem;
    text-align: right;
  }

  #split {
    color: white;
    font-size: 45px;
  }

  .nav-full {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    position: relative;
    padding: 0;
    background-color: #ff9f1c;
    padding-right: 3rem;
  }

  a {
    color: white;
  }

    a:hover {
      font-weight: bold;
      cursor: pointer;
    }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

  a.logo {
    padding: 1rem;
    font-size: 175%;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

   ul a {
      padding: 1rem;
      display: inline-block;
  }

  .menu-container {
    position: relative;
  }

  .menu {
    position: absolute;
    z-index: 1;
    background: #ff9f1c;
    display: none;
  }

  .menu-container:hover .menu {
    display: block;
  }

  .menu a {
    width: 100%;
    min-width: 8rem;
  }

  #split {
    display: none;
  }

  .nav-mobile {
      display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    position: relative;
    padding: 0;
    background-color: #ff9f1c;
    padding-right: 3rem;
  }

  a {
    color: white;
  }

    a:hover {
      font-weight: bold;
      cursor: pointer;
    }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

  a.logo {
    padding: 1rem;
    font-size: 175%;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

    ul a {
      padding: 1rem;
      display: inline-block;
    }

  .menu-container {
    position: relative;
  }

  .menu {
    position: absolute;
    z-index: 1;
    background: #ff9f1c;
    display: none;
  }

  .menu-container:hover .menu {
    display: block;
  }

  .menu a {
    width: 100%;
    min-width: 8rem;
  }

  #split {
    display: none;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    position: relative;
    padding: 0;
    background-color: #ff9f1c;
    padding-right: 3rem;
  }

  a {
    color: white;
  }

    a:hover {
      font-weight: bold;
      cursor: pointer;
    }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

  a.logo {
    padding: 1rem;
    font-size: 175%;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

    ul a {
      padding: 1rem;
      display: inline-block;
    }

  .menu-container {
    position: relative;
  }

  .menu {
    position: absolute;
    z-index: 1;
    background: #ff9f1c;
    display: none;
  }

  .menu-container:hover .menu {
    display: block;
  }

  .menu a {
    width: 100%;
    min-width: 8rem;
  }

  #split {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    position: relative;
    padding: 0;
    background-color: #ff9f1c;
    padding-right: 3rem;
  }

  a {
    color: white;
  }

    a:hover {
      font-weight: bold;
      cursor: pointer;
    }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
  }

  a.logo {
    padding: 1rem;
    font-size: 175%;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }

    ul a {
      padding: 1rem;
      display: inline-block;
    }

  .menu-container {
    position: relative;
  }

  .menu {
    position: absolute;
    z-index: 1;
    background: #ff9f1c;
    display: none;
  }

  .menu-container:hover .menu {
    display: block;
  }

  .menu a {
    width: 100%;
    min-width: 8rem;
  }

  #split {
      display: none;
  }
}

