@media only screen and (max-width: 600px) {
  .container {
    height: 150px;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .search-text {
      height: 40px;
      width: 60%;
  }

  button {
      height: 40px;
      width: 40%;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    height: 300px;
    width: 100%;
    display: flex;

  }
}

@media only screen and (min-width: 768px) {
  .container {
    height: 300px;
    width: 100%;
    display: flex;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    height: 300px;
    width: 100%;
    display: flex;
    text-align: center;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    height: 300px;
    width: 100%;
    display: flex;
    text-align: center;
  }
}
