@media only screen and (max-width: 600px) {
  .container {
    height: 100px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .bar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  input[type="text"] {
      padding-left: 10px;
  }

  .search-text {
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border-color: #FF9F1C;
    border-style: solid;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
  }

  button {
    color: white;
    height: 40px;
    background-color: #FF9F1C;
    border-radius: 0px 4px 4px 0px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    min-width: 70px;
    margin: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    touch-action: manipulation;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    height: 100px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    padding-left: 10px;
  }

  .search-text {
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border-color: #FF9F1C;
    border-style: solid;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
    min-width: 300px;
  }

  button {
    color: white;
    height: 40px;
    background-color: #FF9F1C;
    border-radius: 0px 4px 4px 0px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    min-width: 70px;
    margin: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    touch-action: manipulation;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    height: 100px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    padding-left: 10px;
  }

  .search-text {
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border-color: #FF9F1C;
    border-style: solid;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
    min-width: 300px;
  }

  button {
    color: white;
    height: 40px;
    background-color: #FF9F1C;
    border-radius: 0px 4px 4px 0px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    min-width: 70px;
    margin: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    touch-action: manipulation;
  }

}

@media only screen and (min-width: 992px) {
  .container {
    height: 100px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    padding-left: 10px;
  }

  .search-text {
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border-color: #FF9F1C;
    border-style: solid;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
    min-width: 400px;
  }

  button {
    color: white;
    height: 40px;
    background-color: #FF9F1C;
    border-radius: 0px 4px 4px 0px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    min-width: 70px;
    margin: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    touch-action: manipulation;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    height: 100px;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"] {
    padding-left: 10px;
  }

  .search-text {
    height: 40px;
    border-radius: 4px 0px 0px 4px;
    border-color: #FF9F1C;
    border-style: solid;
    box-sizing: border-box;
    font-size: 16px;
    padding: 0px;
    min-width: 500px;
  }

  button {
    color: white;
    height: 40px;
    background-color: #FF9F1C;
    border-radius: 0px 4px 4px 0px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    min-width: 70px;
    margin: 0;
    outline: none;
    overflow: hidden;
    position: relative;
    text-align: center;
    touch-action: manipulation;
  }
}
