<div>
  <div class="section">
    <h3 class="header">Explore Buisnesses</h3>
    <hr />
  </div>
  <div class="container">
    <div class="box">
      <div class="label">
        <img src="../assets/barber.svg" alt="Barber" />
        <p>Barber</p>
      </div>
    </div>
    <div class="box">
      <div class="label">
        <img src="../assets/med.svg" alt="H&W" />
        <p>Health & Wellness</p>
      </div>
    </div>
    <div class="box">
      <div class="label">
        <img src="../assets/ed.svg" alt="Tutors" />
        <p>Tutors</p>
      </div>
    </div>
    <div class="box">
      <div class="label">
        <img src="../assets/adventure.svg" alt="Adventure Guides" />
        <p>Adventure Guides</p>
      </div>
    </div>
    <div class="box">
      <div class="label">
        <img src="../assets/photo.svg" alt="Photographers" />
        <p>Photographers</p>
      </div>
    </div>
      <div class="box">
        <div class="label">
          <img src="../assets/mech.svg" alt="Mechanics" />
          <p>Mechanics</p>
        </div>
      </div>
      <div class="box">
        <div class="label">
          <img src="../assets/other.svg" alt="Other" />
          <p>Other</p>
        </div>
      </div>
  </div>
</div>
