@import 'material-icons/iconfont/material-icons.css';

@font-face {
    font-family: "Mulish";
    src: url('assets/Mulish-Regular.ttf')
}

* {
  box-sizing: border-box;
}

html {
  font-family: Mulish;
  font-size: 16px;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
